@import "#main-styles/colorVariables";
$heightField: 3rem;

.wrapper {
  position: relative;
  width: 100%;
  border: 2px solid black;
  border-radius: 0.5rem;
  height: $heightField;
}
.nameGame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  resize: none;
  line-height: $heightField;
  background-color: transparent;
  font-size: 1.5rem;
  z-index: 1;
  padding: 0 1rem;
  overflow: hidden;

  &:focus ~ label {
    top: -10%;
  }
  &:valid ~ label {
    top: -10%;
  }
}

.label {
  padding: 0 0.5rem;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  z-index: 2;
  font-size: 1.5rem;
  transform: translateY(-50%);
  transition: 0.5s;
  color: gray;
  background-color: $interactiveModalMessage;
}
