@import "#main-styles/colorVariables";

.wrapper {
}
.body {
  width: 100%;
  min-height: 23.5rem;
  padding: 1rem 1rem;
  background-color: $interactiveModalMessage;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  // overflow-y: scroll;
}
// .wrapper::-webkit-scrollbar{
//    width: 10px;
// }

// .wrapper::-webkit-scrollbar-thumb {
//   border-radius: .3rem; /* Округление бегунка */
//   border: 1px solid #050c26; /* Оформление границ бегунка */
// }

.title {
  text-align: center;
  font-size: 1.8rem;
}
