@import "#main-styles/variables";
@import "#main-styles/colorVariables";

.wrapper {
  min-width: 14rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.765);
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@media (min-width: $L) {
  .wrapper {
    font-size: 1.4rem;
    height: 2.5rem;
    display: flex;
    border: 2px solid $zerroFigure;
    color: $lineMenu_1;
    background-color: transparent;
    &:hover {
      background-color: $interactiveModalMessage;
      color: black;
    }
  }
}
