@import '#main-styles/transition-variables';

$dalay: 150ms;
$duration: $menuDelay - ($dalay * 2); 




.line-top-enter {
  left: -100vw
}
.line-top-enter-active {
  left: 0;
  transition: $duration;
}
.line-top-exit {
  left: 0;
}
.line-top-exit-active {
  left: -100vw;
  transition: $duration;
}


.line-middle-enter {
  left: -100vw
}
.line-middle-enter-active {
  left: 0;
  transition: $duration;
  transition-delay: $dalay;
}
.line-middle-exit {
  left: 0;
}
.line-middle-exit-active {
  left: -100vw;
  transition: $duration;
  transition-delay: $dalay;
}


.line-bottom-enter {
  left: -100vw
}
.line-bottom-enter-active {
  left: 0;
  transition: $duration;
  transition-delay: $dalay * 2;
}
.line-bottom-exit {
  left: 0;
}
.line-bottom-exit-active {
  left: -100vw;
  transition: $duration;
  transition-delay: $dalay * 2;
}