@import '#main-styles/colorVariables';

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  fill: $crossFigure;
  width: 60%;
  height: 60%;
  transition: fill;
  
}

.activeWrapp{
  animation: moving 3s linear infinite alternate 0s forwards;
}


@keyframes moving{
   0%{top: 55%}
  25%{left: 43%}
  50%{top: 44%}
  75%{left: 55%}
}
 
