@import './variables.scss'; 
@import './colorVariables.scss';
// @import '../archichecture/component/ligihtDarkController/sss.scss';

html{
  font-size: 100%;
  height: 100%;

}
#root{
  /* min-height: 100vh; */
}





.App{
  // background-color: rgb(199, 185, 167);
  background-color: $bgcolor;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
  padding-top: 1px;
  transition: .5s;
  padding: 1rem 1rem;
}
.header{
  // border: 1px solid black;
  max-width: 900px;
  margin: 0 auto;
}

.header{
  width: 100%;
  max-width: 35rem;
}





@media(min-width: $L){
  html{
    font-size: 110%;
  }
  .header{
  // border: 1px solid black;
  max-width: 900px;
  margin: 0 auto;
}
}