// this 'css' variables is taken from App.tsx file


$bgcolor: var(--background);
$menuCollor: var(--menuCollor);
// tic-tac-toe
$gridCollor: var(--gridCollor);
$crossFigure: var(--crossFigure);
$zerroFigure: var(--zerroFigure);
$flishingSell: var(--flishingSell);
$hoverSell: var(--hoverSell);
$lineMenu: var(--lineMenu);
$lineMenu_1: var(--lineMenu_1);
$sellMenu: var(--sellMenu);
$inscriptDashdoard: var(--inscriptDashdoard);
$scopeDashdoard: var(--scopeDashdoard);