.wrapper{
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem .5rem;
  // background-color: rgb(217, 187, 15);
  font-size: 1.3rem;
}

.active{
  background-color: rgb(217, 187, 15);
}

.gameName span{
  color: red;
}
.time{
  color: red;
}