@import '#main-styles/variables.scss';
@import '#main-styles/colorVariables';

.wrapper{
  width: 100%;
  max-width: 35rem;
  min-height: 5rem;
  color: wheat;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  order: 1;
}

.burgerPosition{
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.scope{
  position: relative;
  min-width: 4rem;
  // width: 4rem;
  height: 4.5rem;
  border: 2px solid $gridCollor;
  // min-width: 4rem;
  border-radius: .5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scull{
  fill: $zerroFigure;
  height: 3.5rem;
}

@media(min-width:$L){
  .wrapper{
    position: absolute;
    top: 0;
    left: 2.8rem;


    order: 2;
    width: auto;
    min-height: 5rem;
    color: wheat;
    border: 2px solid $gridCollor;
    border-radius: .5rem;
  }
  .scope{
    border:none
  }

  .burgerPosition{
    display: none;
  }
}



