@import '#main-styles/variables.scss';

.wrapper{
  width: 100%;
  min-height: 5rem;
  color: wheat;
  display: flex;
  // flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px dashed white;
  position: relative;
  order: 1;
}

.burgerPosition{
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.scope{
  position: relative;
  min-width: 4rem;
  height: 4rem;
  border: 1px dashed white;
}


@media(min-width:$L){
  .wrapper{
    position: absolute;
    top: 0;
    left: 4rem;


    order: 2;
    width: auto;
    min-height: 5rem;
    color: wheat;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    border: 1px dashed white;
    
  }
  .burgerPosition{
    display: none;
  }
}



